# created by virtualenv automatically
.venv/
P3P/
Andanawaone.py
funkcjaPodst.py
kolejny.py
Na45.py
okienkoooo.ui
osnowa_UAV.pdf
osnowa_UAV.txt
test.py
wizard.py
yyy.py
Zadanie_Agisoft_Metashape.pdf
.idea/